@charset "utf-8";
/* ーーーーーーーーーー
　reset
ーーーーーーーーーー */
html,body,header,main,footer,section,div,span,img,h1,h2,h3,h4,h5,h6,p,a,ol,ul,li{
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ーーーーーーーーーー
　style
ーーーーーーーーーー */
:root{
  --textcolor: #333333;
  --linkcolor: #707070;
  --sectioncolor: #888888;
  --maincolor: #F5EFDC;
  --accentcolor: #A9D6A9;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat','Noto Sans JP',sans-serif;
  font-size: 14px;
  color: var(--textcolor);
  line-height: 2;
  letter-spacing: 0.08em;
}

a{
  color: #707070;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s;
}

a:hover{
  color: var(--accentcolor);
}

h2{
  font-size: 16px;
  text-transform: uppercase;
  color: var(--sectioncolor);
  border-bottom: 1px solid var(--sectioncolor);
  width: 100px;
  margin-bottom: 50px;
}

h3{
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: var(--sectioncolor);
}

h3::after{
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--linkcolor);
}

li,ol{
  list-style: none;
}

img{
  max-width: 100%;
}

section{
  margin-top: 170px;
}

.container{
  padding: 0 30px;
  margin: 0 auto;
}

.sp-only{
  display: block;
}

.pc-only{
  display: none;
}

.btn{
  display: inline-block;
  position: relative;
  width: 250px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid var(--textcolor);
  border-bottom: 1px solid var(--textcolor);
  text-decoration: none;
  transition: .3s;
}

.btn:hover{
  color: var(--textcolor);
  background-color: var(--accentcolor);
}

.btn::before,
.btn::after{
  content: '';
  position: absolute;
  top: -7px;
  width: 1px;
  height: calc(100% + 14px);
  background-color: var(--textcolor);
  transition: .3s;
}

.btn::before{
  left: 7px;
}

.btn:hover::before{
  top: 0;
  left: 0;
  height: 100%;
}

.btn::after{
  right: 7px;
}

.btn:hover::after{
  top: 0;
  right: 0;
  height: 100%;
}

.small{
  padding: 21px 0;
}

.big{
  width: 100%;
  padding: 57px 0;
}

.sns img{
  width: 30px;
  height: auto;
}

.sns img:first-of-type{
  padding-right: 8px;
}

@media (min-width:768px) {
  section{
    margin-top: 220px;
  }

  .container{
    padding: 0 70px;
  }

  .sp-only{
    display: none;
  }

  .pc-only{
    display: block;
  }

  .big{
    width: 75%;
  }
}

@media (min-width:960px) {
  section{
    margin-top: 220px;
  }

  .container{
    padding: 0 175px;
    max-width: 900px;
  }

  .sp-only{
    display: none;
  }

  .pc-only{
    display: block;
  }

  .big{
    width: 45%;
  }
}

/* ーーーーーーーーーー
　header
ーーーーーーーーーー */
.header{
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 60px);
  padding: 30px 30px 0;
  transition: 0.5s;
  z-index: 10;
}

header.scroll{
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.h-logo a,.f-logo a{
  display: block;
  font-size: 35px;
  font-weight: bold;
  line-height: 1;
  text-transform: capitalize;
  color: var(--textcolor);
}

.nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  background-image: url(../img/menu.jpg);
  background-color:rgba(255,255,255,0.75);
  background-blend-mode:lighten;
  background-position: 65% center;
  background-size: cover;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  transition: opacity 0.3s linear;
  opacity: 0;
}

.nav.is-show{
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

.nav__list{
  display: flex;
  flex-direction: column;
  padding: 215px 80px;
}

.nav__item{
  text-transform: uppercase;
}

header .nav__item{
  text-align: center;
}

header .nav__item:not(:last-child){
  padding-bottom: 15px;
}

.nav__link{
  color: var(--textcolor);
}

.nav__item-btn .btn{
  width: 100%;
  max-width: 350px;
  margin: 30px 0 60px;
}

header .sns{
  margin: 0 auto;
}

.nav__btn{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 43px;
  height: 43px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav__line{
  display: block;
  content: "";
  position: relative;
  width: 25px;
  height: 1px;
  background-color: var(--textcolor);
  top: -5px;
  transition: all .5s ease;
}

.nav__line::after{
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: inherit;
  top: 10px;
  right: 0;
  transition: all .5s ease;
}

.nav__btn.is-active .nav__line{
  top: 0;
  transform: rotate(45deg);
}

.nav__btn.is-active .nav__line::after{
  top: 0;
  width: 25px;
  transform: rotate(-90deg);
}

@media (min-width:768px) {
  .header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 100px);
    height: 50px;
    padding: 30px 50px 0;
    transition: 0.5s;
    z-index: 10;
  }
  
  .header.scroll{
    padding-top: 15px;
    padding-bottom: 13px;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  .nav{
    position: static;
    top: auto;
    left: auto;
    background-image: none;
    background-color: transparent;
    visibility: visible;
    width: auto;
    height: auto;
    opacity: 1;
  }
  
  .nav__list{
    flex-direction: row;
    align-items: center;
    padding: 0;
    line-height: 1;
  }

  .header .nav__item:not(:last-child){
    padding-bottom: 0;
    padding-right: 30px;
  }

  .nav__item-btn{
    display: none;
  }

  .nav__btn{
    display: none;
  }
}

@media (min-width:960px) {
    .header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 100px);
    height: 50px;
    padding: 30px 50px 0;
    transition: 0.5s;
    z-index: 10;
  }
  
  .header.scroll{
    padding-top: 15px;
    padding-bottom: 13px;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  .nav{
    position: static;
    top: auto;
    left: auto;
    background-image: none;
    background-color: transparent;
    visibility: visible;
    width: auto;
    height: auto;
    opacity: 1;
  }
  
  .nav__list{
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    padding: 0;
    line-height: 1;
  }

  .header .nav__item:not(:last-child){
    padding-bottom: 0;
    padding-right: 30px;
  }

  .nav__item-btn{
    display: none;
  }

  .nav__btn{
    display: none;
  }
}

/* ーーーーーーーーーー
　mv
ーーーーーーーーーー */
.mv{
  position: relative;
  width: 100%;
  height: 100vh;
}

.mv__inner{
  position: absolute;
  width: 92%;
  height: 92%;
  top: 10px;
  right: 0;
  background-image: url(../img/mv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65% center;
}

.mv__item{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  bottom: 25px;
  align-items: center;
  justify-content: flex-end;
}

.mv-title{
  position: relative;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 45px;
  z-index: 2;
}

.cream{
  position: absolute;
  top: -75%;
  right: -30%;
  z-index: -1;
}

@media (min-width:768px){
  .mv__inner{
    width: 82%;
    height: 100%;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 100%;
  }
  
  .mv__item{
    width: 50%;
    height: 100%;
    bottom: 0;
    justify-content: center;
  }
}

@media (min-width:960px){
  .mv__inner{
    width: 62%;
    height: 100%;
    top: 0;
    /* right: 0; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 75%;
  }
  
  .mv__item{
    width: 38%;
    height: 100%;
    bottom: 0;
    justify-content: center;
  }
}

/* ーーーーーーーーーー
　concept
ーーーーーーーーーー */
#concept{
  background: linear-gradient(180deg,#fff 0%,#fff 33%,#F5EFDC 33%,#F5EFDC 100%);
  padding-bottom: 115px;
}

#concept p{
  padding-top: 40px;
}

.concept-img__box{
  text-align: center;
}

.concept-img{
  width: 100vw;
  height: auto;
  object-fit: cover;
}

@media (min-width:768px){
  #concept{
    background: linear-gradient(180deg,#fff 0%,#fff 36%,#F5EFDC 36%,#F5EFDC 100%);
    padding-bottom: 210px;
  }

  .concept__inner{
    max-width: 550px;
    margin: 0 auto;
  }
  
  #concept p{
    padding-top: 50px;
  }
}

@media (min-width:960px){
  #concept{
    background: linear-gradient(180deg,#fff 0%,#fff 33%,#F5EFDC 33%,#F5EFDC 100%);
    /* padding-bottom: 210px; */
  }

  .concept__inner{
    max-width: 550px;
    margin: 0 auto;
  }
  
  #concept p{
    padding-top: 50px;
  }
}

/* ーーーーーーーーーー
　points
ーーーーーーーーーー */
#points{
  margin-top: 0;
  padding: 90px 0;
  background-image: url(../img/point.jpg);
  background-color:rgba(255,255,255,0.25);
  background-blend-mode:lighten;
  background-repeat: no-repeat;
  background-position: 20%;
  background-size: cover;
}

.points-img__box{
  text-align: center;
}

#points p{
  padding-top: 50px;
}

@media (min-width:768px){
  #points{
    padding: 175px 0;
  }

  .points__inner{
    max-width: 550px;
    margin: 0 auto;
  }

  .points-img{
    width: 450px;
    height: auto;
  }
  
  #points p{
    max-width: 440px;
    margin: 0 auto;
  }
}

@media (min-width:960px){
  #points{
    padding: 175px 0;
  }

  .points__inner{
    display: flex;
    align-items: center;
    max-width: none;
    margin: 0 auto;
  }

  .points-img__box{
    flex: 1;
  }

  .points-img{
    width: 450px;
    height: auto;
  }
  
  #points p{
    flex: 1;
    margin: 0 auto;
    padding-top: 0;
    padding-left: 115px;
  }
}

/* ーーーーーーーーーー
　product
ーーーーーーーーーー */
.product__inner{
  position: relative;
  padding-bottom: 45px;
}

.product-title{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

.info{
  text-align: center;
  margin-bottom: 30px;
}

.info span{
  font-size: 12px;
  border: 1px solid var(--linkcolor);
  padding: 10px 17px;
  margin-right: 30px;
}

.accordion{
  margin: 0 auto;
  max-width: 700px;
  width: 83%;
}

.accordion__list{
  padding: 20px;
  border-bottom: 1px solid var(--textcolor);
}

.accordion__list:first-of-type{
  border-top: 1px solid var(--textcolor);
  margin-top: 70px;
}

.accordion-title{
  position: relative;
  line-height: 1;
  transition: all .5s ease;
}

.accordion-title::before,
.accordion-title::after{
  position: absolute;
  content:'';
  width: 14px;
  height: 1px;
  background-color: #333;
  transition: all .5s ease;
}
.accordion-title::before{
  top: 50%;
  right: 0;
  transform: rotate(0deg);
    
}
.accordion-title::after{    
  top: 50%;
  right: 0;
  transform: rotate(90deg);
}

.accordion-title.close::before{
  transform: rotate(45deg);
}

.accordion-title.close::after{
  transform: rotate(-45deg);
}

.accordion__box {
  display: none;
  margin-top: 20px;
  font-size: 12px;
  color: var(--sectioncolor);
}

.accordion__box ul,.accordion__box li{
  list-style: disc;
  margin-left: 5px;
}

/* 　how to use */

.howto{
  margin: 125px 30px;
}

.howto__inner{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 75px 20px;
  border: 1px solid var(--linkcolor);
}

.howto-img{
  margin-bottom: 40px;
}

.howto__box{
  margin: 0 auto;
  min-width: 250px;
}

.howto__box p:not(:last-child){
  padding-bottom: 30px;
}

.no-1::before{
  content: url(../img/01.png);
}

.no-2::before{
  content: url(../img/02.png);
}

.tips::before{
  content: url(../img/tips.png);
}

@media (min-width:768px){
  .product__inner{
    position: static;
  }

  .product-img__box{
    text-align: center;
  }

  .product-img{
    width: 80%;
  }
  
  .product-title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }

  /* 　how to use */
  
  .howto{
    margin: 170px 0;
  }
  
  .howto__inner{
    margin: 20px 80px 0;
  }

  .howto-img__box{
    text-align: center;
  }
  
  .howto-img{
    max-width: 450px;
  }
}

@media (min-width:960px){
  .product__inner{
    position: static;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 850px;
  }

  .product-img__box{
    text-align: center;
    flex: 1;
  }

  .product-img{
    width: 100%;
  }

  .product__inner .container{
    flex: 1;
    padding: 0;
    padding-left: 70px;
  }
  
  .product-title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }

  /* 　how to use */
  
  .howto{
    margin: 170px 0;
  }
  
  .howto__inner{
    flex-direction: row;
    align-items: center;
    max-width: 50%;
    margin: 20px auto;
    padding: 75px 100px;
  }

  .howto-img__box{
    flex: 1 200px;
    text-align: center;
  }
  
  .howto-img{
    max-width: 350px;
    margin-bottom: 0;
  }
  
  .howto__box{
    flex: 1;
    padding-left: 60px;
  }
}

/* ーーーーーーーーーー
　onlinestore
ーーーーーーーーーー */
.online-store{
  text-align: center;
}

/* ーーーーーーーーーー
　footer
ーーーーーーーーーー */
footer{
  margin-top: 200px;
  margin-bottom: 50px;
}

footer .container{
  margin: 0 30px;
  border-top: 1px solid var(--textcolor);
}

.footer__inner{
  display: flex;
  max-width: 360px;
  padding: 65px 20px 0;
  margin: 0 auto;
  justify-content: space-around;
}

.footer__item{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer__item:last-child li{
  width: 90px;
}

.copyright{
  font-size: 12px;
  padding-bottom: 10px;
}

@media (min-width:768px){
  footer .container{
    margin: 0 70px;
  }
}

@media (min-width:960px){
  footer{
    margin-bottom: 100px;
  }

  footer .container{
    max-width: 1570px;
    margin: 0 auto;
    padding: 0;
  }

  .footer__inner{
    display: flex;
    max-width: 900px;
    padding: 90px 60px 0;
    margin: 0 auto;
    justify-content: space-between;
  }

  .footer__item{
    flex-direction: row;
  }

  .footer__item:last-child li{
    width: auto;
  }

  .footer__item .nav__item:not(:last-child){
    padding-right: 20px;
  }

  .footer__item .sns{
    padding: 0 45px;
  }

  .copyright{
    /* font-size: 12px; */
    padding-bottom: 0;
  }
}

/* ーーーーーーーーーー
　ページトップ
ーーーーーーーーーー */
.pagetop{
  position: fixed;
  display: block;
  right: 25px;
  bottom: 100px;
  opacity: 0;
  transition: 0.5s;
  z-index: 11;
  cursor: pointer;
}

.pagetop.scroll{
  opacity: 1;
}

#pagetop__inner{
  position: relative;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  width: ;
  height: 100px;
  transform: rotate(180deg);
}

#pagetop__inner::after,
#pagetop__inner::before{
  content: "";
  position: absolute;
  width: 1px;
  background: var(--linkcolor);
}

#pagetop__inner::after{
  height: 100px;
  top: -10%;
  left: -3px;
}

#pagetop__inner::before{
  height: 15px;
  transform: rotate(45deg);
  top: 78%;
  left: 2px;
}

@media (min-width:768px){
  .pagetop{
    right: 50px;
  }
}

@media (min-width:960px){
  .pagetop{
    right: 100px;
  }
}
